.container{
width: 100%;
padding-left: 0;
padding-right: 0;
}

header h3{
	display: inline-block;
	margin-left: 17px;
	margin-bottom: 26px;
	font-weight: 600;
	color:rgb(236, 230, 230);
}
header{
	background-color: cornflowerblue;
  width: 100%;
  position: fixed;
  z-index: 10;

}
.button{
display: inline-block;
position: relative;
float: right;
margin-top: 17px;
margin-right: 35px;
}
.btn-warning {
  background-color: #F0B74E;
  border-color: #F5E6ED;
  }
.logo{
display: inline-block;
position: relative;
left: 3%;
font-size: 21px;
border: 1px solid;
margin: 5px;
padding-left: 4px;
padding-right: 4px;
padding-top: 3px;
}
 

.nav > li > a{
	position: relative;
	display: block;
	padding: 10px 15px;
	color:gray;
}
aside{
	background-color: black;
  width: 20%;
  position: fixed;
  height: 100%;
  margin-top: 70px;

	ul{
		color:white;
	}
	.parteuno{
		text-align: center;
		h4{
			color:white;
		}
	}
	li{
		list-style: none;
		padding: 5px 0px;
	}
	img{
		border-radius: 50%;
		margin-top: 28px;
		text-align:center; 
		}
		span{
			padding: 5px;
		}
	}
section{
height: 600px;
width: 80%;
float: right;
margin-top: 75px;
}

.row {
margin-left: 0; 
 margin-right:0; 
.text-center{
	margin-bottom: 41px;
}
}

.col-xs-9 {
	background-color:white;
	height: 500px;
}
.col-xs-3{
	background-color: white;
	height: 500px;
}

.notificacion{
	background-color:rgb(223, 55, 55); 
	h5{
font-size: 22px;
text-align: center;
margin-top: 19px;
margin-bottom: 0px;
height: 65px;
padding-top: 17px;
color:white;
	}
	}

.formas {
span{
	font-size:53px;
	margin-top:5%;
	text-align: center;
}
	h5{
		margin-top: 21px;
	  margin-bottom: 21px;
	  border-bottom:1px solid black;
	}
	p{
		visibility: hidden;
	}
}
.formas:hover{
	background-color:rgb(242, 242, 242);
	p{
		visibility: visible;
		color: red;
	}
	h5{
		border-bottom:none;
	}
}
.col-md-9{
	padding-top:62px;
}
.imagenes{
	  width: 48%;
	  margin: 0 auto;
	  padding-top: 22px;
	  img{
	  	width: 100%;
	  }
}
 .centro {
 	  padding-top: 26px;
 	  background-color:white;
 	  padding-bottom: 40px;
 	  height: 258px;
	  	span {
	  		color:gray;
	  	}
	  	h6{
	  		color:gray;
	  		text-align: center;
			}
	 	}
.letra h4{
	text-align: center;
  background-color: rgb(195, 195, 195);
  margin-bottom: 0;
  margin-top: 0;
  padding: 5% 0;
  color:white;
}
.col-md-4{
	padding-bottom: 39px;
	}
.letra2{
	text-align: center;
}
.centro2{
	background-image: url(../img/lluvia.jpg);
	text-align: center;
	background-size: cover;
	padding-top: 11px;
	height: 258px;
	span{
		font-size: 17px;
		color:white;
		padding: 11px;
	}
}
.dentro2{
	text-align: center;
  font-size: 15px;
	span{
		font-size:40px;
  		color: white;
  		padding-top: 18px;

		}
	p{
	color: white;
	}
}
.centro3{
background-color:rgb(67, 75, 86);
text-align: center;
height: 258px;
h4{
	color:white;
	text-align: center;
	padding: 15px 0;
	  margin-bottom: 0;
  margin-top: 0;
}

p{
	text-align: center;
	color:white;
}
h6{
	  color: white;
}
}
.centro4{
	background-color:rgb(67, 75, 86);
	text-align: center;
	height: 258px;
h4{
	color:white;
	text-align: center;
	padding: 21px 0;
	  margin-bottom: 0;
  margin-top: 0;
}
p{
	text-align: center;
	color:white;
	padding-bottom: 25px;
  margin-bottom: 0px;
  padding-top: 14px;
}
}
.list-group-item:first-child {
   border-top-right-radius: 0px; 
  border-top-left-radius: 0px; 
}
.list-group {
  span{
  	  padding-left: 6px;
  	  color:cornflowerblue;
  }
  p{
  	  padding-left: 28px;
  }
}
.footer{
	background-color: rgb(107, 231, 244);
	.contenido {
		text-align: center;
		color: white;
		 margin-top: -7px;
		  }
	span{
		left: 40%;
	}
	}
